<!DOCTYPE html>
<html style=" margin: 0; padding: 0; min-height: 100%; position: relative;">

    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>@ViewBag.Title - Mi aplicación ASP.NET</title>

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        <link  href="~/Content/Site_.css" />

    </head>

    <body style=" margin: 0; padding: 0; margin-bottom: 40px;">

        <div class="navbar navbar-inverse navbar-fixed-top">

            <div class="container">

                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    @Html.ActionLink("Nombre de la aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            
                </div>

                <div class="navbar-collapse collapse">

                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Usuarios", "Index", "User")</li>
                        <li>@Html.ActionLink("Producto", "Index", "Product")</li>
                        <li>@Html.ActionLink("Facturas", "Index", "Invoice")</li>
                    </ul>

                </div>

            </div>

        </div>

        <div class="container body-content">

            <br />
            <br />
            <br />
            @RenderBody()
            <hr />
        </div>

        <footer style=" position: absolute; bottom: 0; width: 100%; height: 40px; color: black; background-color: gray;">

            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>

        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

    </body>

</html>
