@model WcfService.Models.Product

@{
    ViewBag.Title = "Edit";
}

<h2>Editar Producto</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">

        @Html.Label("PRODUCTO", htmlAttributes: new { @class = "control-label col-md-2", style = "text-align:left" })

        <div class="col-md-10">

            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "El campo 'Nombre' es obligatorio", new { @class = "text-danger" })

        </div>

    </div>

    <div class="form-group">

        @Html.Label("DESCRIPCIÓN", htmlAttributes: new { @class = "control-label col-md-2", style = "text-align:left" })

        <div class="col-md-10">

            @Html.EditorFor(model => model.Description, "DateTime",new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "El campo 'Descripción' es obligatorio" , new { @class = "text-danger" })

        </div>

    </div>

    <div class="form-group">

        @Html.Label("PRECIO", htmlAttributes: new { @class = "control-label col-md-2", style = "text-align:left" })

        <div class="col-md-10">

            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Price, "El campo 'Precio' es obligatorio", new { @class = "text-danger" })

        </div>

    </div>

    <div class="form-group">

        @Html.Label("CANTIDAD", htmlAttributes: new { @class = "control-label col-md-2", style = "text-align:left" })
        
        <div class="col-md-10">

            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Quantity, "El campo 'Cantidad' es obligatorio", new { @class = "text-danger" })

        </div>

    </div>

    <div class="form-group">

        <div class="col-md-offset-2 col-md-10">

            <input type="submit" value="Guardar" class="btn btn-default" />
        </div>

    </div>

</div>
}

<div>
    @Html.ActionLink("Volver", "Index","", new { @class = "btn btn-primary" })
</div>
